body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white
}

.image{
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.3);
    height: 400px;
}


.link-button {
  align-items: center;
  background-color: #ff9292;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  margin: auto;
  max-width: 20%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.link-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.link-button:hover:after {
  transform: translate(0, 0);
}

.link-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.link-button:hover {
  outline: 0;
}

h1{
    text-align: center;
    margin: auto;
}