
body {
    background-color: rgb(255, 255, 165);
}

.image{
    border-radius: 10px 100px / 120px 100px;
    height: 400px;
}

.image:hover{
    scale: 125%;
}

h1, h2{
    font-family: 'REM', sans-serif;
    color:blueviolet;
}

p{
    font-family: 'Bitter', serif;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}